<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="에코가이드"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Recycle"
        tools:targetApi="31">
        <activity
            android:name=".playvideo"
            android:exported="false" />
        <activity
            android:name=".guide"
            android:exported="false" />
        <activity
            android:name=".ai"
            android:exported="false" />
        <activity
            android:name=".edit_alarm"
            android:exported="false" />
        <activity
            android:name=".settings"
            android:exported="false" />

        <receiver android:name=".AlarmReceiver" android:exported="true" /> <!-- logo 액티비티를 앱의 시작 화면으로 설정 -->
        <activity
            android:name=".logo"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- MainActivity 설정 -->
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <queries>
        <!-- 카메라 앱 쿼리 -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>

        <!-- 갤러리 앱 쿼리 -->
        <intent>
            <action android:name="android.intent.action.PICK" />
            <data android:mimeType="image/*" />
        </intent>
    </queries>





</manifest>